<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
</head>
<body>
    <div id="app">
        <p><input type="text" v-model="keyword"><button @click="handleAdd">添加</button></p>
        <p>{{keyword}}</p>
        <ul>
            <li v-for="item of arr" 
            :data-index="index"
            @click="handleDelete">{{item}} -{{index}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                arr:["小米","华为","苹果"],
                keyword:""
            },
            methods:{
                handleAdd(){
                    this.arr.push(this.keyword)
                },
                handleDelete(){
                }
            }
        })
    </script>
</body>
</html>